.home-intro {
    small{
        @include size(16);
    }
    span{
        @include size(26);
    }
}

.home-executive-summary {
    background: $bgBlue;
    .container {
        z-index: 1;
    }
    .arrow{
        z-index: 0;
        position: absolute;
        pointer-events: none;
        width: 100%;
    }
}

.home-budget-summary {
    overflow: hidden;
    .container {
        z-index: 1;
    }
    .arrow{
        z-index: 0;
        position: absolute;
        opacity: .3;
    }
}

.tickers {
    gap: 30px;
    .ticker{
        flex: 1;
        min-width: 200px;
    }
    .ticker:nth-child(1) .ticker-number {
        @include size(64);
        font-weight: 700;
        color: #0093D5;
    }
    .ticker:nth-child(2) .ticker-number {
        @include size(64);
        font-weight: 700;
        color: #F4A81D;
    }
    .ticker:nth-child(3) .ticker-number {
        @include size(64);
        font-weight: 700;
        color: #80BC00;
    }
    .ticker .ticker-number {
        @include size(64);
        font-weight: 700;
    }
}

.chart-container .tickers .ticker-number {
    font-size: 32px !important;
    text-align: center !important;
}

.chart-container .tickers strong {
    font-size: 16px !important;;
    text-align: center !important;
}

.chart-container .tickers p {
    font-size: 16px !important;;
    text-align: center !important;
}

.forward-container {
    background-color: #000;
}

.indicators {
    display: flex !important;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    width: 100% !important;
    padding: 0 !important;
    max-width: 100%;
    margin: 0;

    .indicator {
        display: flex;
        flex: 1;
        min-width: 200px;
        flex-direction: column;
        margin: 0;
        .title {
            order: 3;
            color: #FFF;
            padding: 0;
            border: 0;
            font-size: 16px;
            margin: 0;
            text-transform: uppercase;
            font-weight: normal;
            line-height: 1.5;
            height: unset;
            text-align: center;
            justify-content: center;
        }

        .info {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .amount {
            color: #FFF;
            font-weight: bold;
            text-transform: unset;
            padding: 0;
            margin: 0;
        }

        .currency {
            color: #FFF;
            margin: 0;
            margin-right: 8px;
        }

        .number {
            color: #FFF;
            order: -1;
            @include size(64);
            width: 100%;
            margin-bottom: 16px;
        }

        &:nth-child(1) {
            .number {
                color: #0093D5;
            }
        }
        &:nth-child(2) {
            .number {
                color: #F4A81D;
            }
        }
        &:nth-child(3) {
            .number {
                color: #80BC00;
            }
        }
    }
}

.home-embed-video {
    iframe {
        height: 480px;
        display: block;
    }
}