// .outcomes-content{
//     background-image: url("");
//     width: 100%;
//     height: 300px;
//     background-size: cover;
//     position: relative;
// }

// .outcomes-header{
//     position: relative;
//     height: 300px;
//     overflow: hidden;
//     h2{
//         @include absolute(0,0,0,0);
//         @include center;
//         // z-index: 1;
//         background: linear-gradient(#031c4c00, #031c4c);
//     }
//     img{
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
// }



// .change-outcome{
//     background: #00306D;
//     @include center;
//     .output-description, .outcome-description {
//         font-size: 14px;
//         font-weight: 400;
//         padding: 0px 100px;
//         text-align: center;
//         @include max(800){
//             display: none;
//         }
//     }
//     .current-outcome-link {
//         white-space: nowrap
//     }
// }

// .nav-button{
//     background: #00306D;
// }
// .nav-button-container{
//     display: flex;
//     justify-content: flex-start;
//     font-weight: bold;
//     align-items: center;
// }


// .grid-cards.more-outcomes-slick {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
// }
// .grid-cards.more-outcomes-slick .rr-card{
//     flex-basis: 343px;
// }


// .explore-the-progress .pb-indicators {
//     padding: 0;
// }



.wrapper-radar-and-indicator {
    .small-content {
        .circle {
            width: 16px;
            height: 16px;
            font-size: 10px;
            align-items: center;
        }
        .legend-item, div {
            font-size: 13px
        }
    }
}


.technical-products {
    list-style: none;
    li {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 1rem;;
        }
        a {
            text-decoration: underline !important;
            cursor: pointer;
            @include max(480) {
                font-size: 13px;
            }
        }
    }
}