body:has(.result-report-2023) .main-site {
  overflow: initial;
}

body:has(.result-report-2023) .main-footer {
  margin: 0;
}

.sfPageEditor .result-report-2023 .container-modal {
  position: static !important;
}

.sf-content:has(.result-report-2023) .breadcrumb{
  display: none;
}

.main-site:has(.program-budget-2023 .filter-sticky){
  overflow: initial !important;
}
body:has(.result-report-2023) #navigationToScrape.attached {
  position: initial;
}

@media (min-width: 768px) {
  .main-site:has(.result-report-2023) {
      overflow-x: initial !important;
  }
}
.sf-main-site:has(.result-report-2023) .result-report-2023 * ,
.sf-body:has(.result-report-2023) .result-report-2023 * {
  line-height: initial;
}

.sfPageEditor .result-report-2023 .temporary-absolute-position {
  position: inherit;
  z-index: auto;
}
.sfPageEditor .result-report-2023 .hidden {
  border: 1px solid red;
  display: initial !important;
  position: static !important;
}

body:has(.result-report-2023) .k-widget.k-tooltip.k-popup.k-group.k-reset {
  background: rgb(97 97 97 / 100%) !important;
}

body:has(.result-report-2023) .k-tooltip-content {
  color: white !important;
}

//   Tooltip
body:has(.result-report-2023) .k-chart-crosshair-tooltip,
body:has(.result-report-2023) .k-chart-shared-tooltip {
  background-color: rgba(0,0,0,0.87);
  color: white;
}


// .k-chart-crosshair-tooltip, .k-chart-shared-tooltip {
//   background-color: rgba(0,0,0,0.87);
//   color: white;
// }