
/*Generic colors*/

$bgBlue: #031C4C;
$infoBox: #D5DFEC;
$text: #666666;
$button: #FF774C;
$active-color: #0FA0DF;
$billion1: #5D2E87;
$white: #ffffff;
$who: #0FA0DF;

/*Chart colors*/

$chart-violet: #f055e5;
$chart-lightblue: #41d4dd;
$chart-yellow: #ffae11;
$chart-green: #50de42;
$chart-red: #ea4e51;
$chart-blue: #5867ef;

// Typogrpahy

$poppins: "Poppins", sans-serif;

$lh50: 1.5;
$lh20: 1.2;

$thin: 100;
$light: 200;
$regular: 300;
$medium: 400;
$semibold: 500;
$bold: 600;
$black: 700;

// $baseImageRoot: "/ResourcePackages/WHO/assets/dist/images/results-report/";
$baseImageRoot: "/images/";

/* breakpoints */
$xs:480;
$xxl:1040;