.b-1{
    --billion: #{$billion-1};
    --billion-gradient-start: #{$billion-1}29;
    --billion-gradient-end: #{$billion-1}cc;
}
.b-2{
    --billion: #{$billion-2};
    --billion-gradient-start: #{$billion-2}29;
    --billion-gradient-end: #{$billion-2}cc;
}
.b-3{
    --billion: #{$billion-3};
    --billion-gradient-start: #{$billion-3}29;
    --billion-gradient-end: #{$billion-3}cc;
}
.b-4{
    --billion: #{$billion-4};
    --billion-gradient-start: #{$billion-4}29;
    --billion-gradient-end: #{$billion-4}cc;
}

.Reports_EOB-facts {
    display: flex !important;
    flex-wrap: wrap !important;
    list-style: none;
    padding: 0 !important;
    gap: 40px;
    .EOB-fact {
        flex: 1 0 280px !important;
        .fact-title-container {
            min-height: 5em;
            display: flex;
            align-items: center;
            border-bottom: 4px solid var(--billion);
            margin-bottom: 0.5rem;
            .fact-icon {
                width: 62px;
                height: 62px;
                flex-shrink: 0;
            }
            img {
                width: 100%;
                height: 100%;
                -o-object-fit: contain;
                object-fit: contain;
            }
            .fact-title {
                font-weight: 600;
                font-size: 1rem;
                line-height: 120%;
                padding: 0.5rem;
            }
        }
        .fact-text,
        p {
            display: block;
            text-align: left;
        } 
        .content:not(.text-expanded) {
            display: block;
            overflow: hidden;
            max-height: 3em;
            text-overflow: ellipsis;
        }
        button {
            font-weight: 600;
            color: var(--billion);
            cursor: pointer;
        }
    }
}







