.report-custom-chart-container {
    border: 1px solid #031c4c;
    border-radius: 8px;
    overflow: hidden;

    .chart-footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 5px;
        background-color: $bgBlue;
    }
}

.h-550 .report-custom-chart-container {
    height: 550px;
    display: flex;
    flex-direction: column;
    @include max(480) {
        height: 620px;
    }
    .k-chart {
        flex-grow: 1;
    }
}

.chart-footer__link {
    color: #fff;
    display: flex;
    align-items: center;
    width: calc(100% - 60px);

    p {
        color: $white;
        @include ellipsis;
        @include size(16);
        width: 100%;
        margin: 0;
    }

    a {
        color: inherit;
    }
}

.chart-footer__buttons {
    @include center;
    gap: 5px;

    .btn-chart {
        color: $white;
        @include center;
        @include size(16);
        cursor: pointer;
        background: transparent;
        width: 20px;
        border: none;
    }
}

.charts-light .report-custom-chart-container {

    border-color: #666666;

    .chart-footer {
        background-color: #ebebeb;

        .chart-footer__link,
        .chart-footer__link p,
        .chart-footer__buttons .btn-chart {
            color: #666666;
        }
    }
}

.charts-light>#chart_output_indicators {
    border: none !important;
}

.k-chart,
.k-stockchart {
    height: 550px;
}


// Tabla en budget
#chart_implementation_base_chart {
    overflow: auto;
    height: auto;
    background-color: white;

    table {
        margin: 0;
    }

    tr td:first-child {
        font-weight: bold;
        width: 40%;
        min-width: 300px;
    }

    tr:nth-child(1),
    tr:nth-child(2) {
        font-weight: 700;
    }

    tr td:not(:first-child) {
        text-align: center;
    }

    th {
        font-size: 19px !important;
        font-weight: initial;
        border-bottom: solid 1px #aaa;
    }
}


// Filtros para major office en budget, y creados de forma generica para otros charts
.major-office-filter,
.pills-filter-container {
    padding-top: 15px !important;
    background: white;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    .btn-region,
    .btn-pill {
        background: #fff;
        cursor: pointer;
        border: none;
        box-sizing: border-box;
        border-radius: 16px;
        font-family: 'roboto' !important;
        border: 1px solid #0FA0DF;
        padding: 5px 8px;
        color: #0FA0DF;
        &:not(.btn-selected):hover {
            background: #0fa1df58;
        }
    
        &.btn-selected {
            background: #0FA0DF;
            color: white;
        }
    }
}



// Footer de grafico de torta en executive overview
#chart_budget_expenditure_overview .chart-legends.major-office-filter {
    display: flex;
    gap: 10px;
    & > div {
        display: flex;
    }
}

.pb-indicators {
    display: flex;
    // padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.pb-indicators .pb-chart {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}



.footer-chart-extra-legend {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    color: #592c82;
    .line-reference {
        width: 50px;
        margin-top: 9px;
        margin-right: 10px;
        height: 10px;
        border-top: dashed #592c82 4px;
    }
}
