.report-custom-chart-container {
    border: 1px solid #031c4c;
    border-radius: 8px;
    overflow: hidden;
    .chart-footer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 5px;
        background-color: $bgBlue;
    }
}
.h-550 .report-custom-chart-container{
    height: 550px;
    display: flex;
    flex-direction: column;
    .k-chart{
        flex-grow: 1;
    }
}
.chart-footer__link{
    @include center;
    width: calc(100% - 60px);
    p{
        color: $white;
        @include ellipsis;
        @include size(16);
        width: 100%;
        margin: 0;
    }
    a{
        color: inherit;
    }
}
.chart-footer__buttons{
    @include center;
    gap: 5px;
    .btn-chart{
        color: $white;
        @include center;
        @include size(16);
        cursor: pointer;
        background: transparent;
        width: 20px;
        border: none;
    }
}

.charts-light .report-custom-chart-container{
    
    border-color: #666666;
    .chart-footer{
        background-color: #ebebeb;
        .chart-footer__link, .chart-footer__link p, .chart-footer__buttons .btn-chart{
            color: #666666;
        }
    }
}
.charts-light > #chart_output_indicators {
    border: none !important;
}
.k-chart,.k-stockchart {
    height: 550px;
}



#chart_implementation_base_chart {
    overflow: auto;
    height: auto;
    background-color: white;
    table{
        margin: 0;
    }
    tr td:first-child {
        font-weight: bold;
        width: 40%;
        min-width: 300px;
    }
    tr:nth-child(1) , tr:nth-child(2){
        font-weight:700;
    }
    tr td:not(:first-child) {
        text-align: center;
    }
    th {
        font-size: 19px !important;
        font-weight: initial;
        border-bottom: solid 1px #aaa;
    }
}


.major-office-filter {
    padding-top: 15px !important;
    background: white;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
  }
  
  .major-office-filter .btn-region{
    background: #fff;
    cursor:pointer;
    border: none;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: 'roboto' !important;
    border: 1px solid #0FA0DF;
    padding: 5px 8px;
    color: #0FA0DF;
  }
  .major-office-filter .btn-region:not(.btn-selected):hover{
    background: #0fa1df58;
  }
  .major-office-filter .btn-region.btn-selected{
      background: #0FA0DF;
      color: white;
  }





.pb-indicators {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.pb-indicators .pb-chart {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}
