.circle {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    font-size: 14px;
    font-weight: 500;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: black;
    border-radius: 50%;
    text-align: center;
}

.chart-contribution {
    flex-basis: 244px;
    padding: 0 .5rem;
    .chart {
        width: 244px;
        height: 244px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        color: white;
        margin-bottom: 1rem;
    }
}