.credits{
    width: 300px;
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    .credits-label{
        display: flex;
        justify-content: space-between;
        padding: .6rem;
        cursor: pointer;
        &:hover{
            color: $active-color;
        }
    }
    .credits-content{
        height: 0px;
        background-color: rgb(60, 60, 60);
        @include size(14);
        transition: .5s;
        height: 0px;
        overflow: auto;
        padding: 0 1rem;
        font-weight: bold;
        &.active{
            height: 300px;
        }
        &:before {
            padding: 1rem 0;
            content: "";
            display: block;
        }
        .photo-name {
            padding: 0 0 1rem 0;
            font-weight: 400;
            display: block;
            border-bottom: 1px solid #ccc;
            
        }
        .photo-description {
            padding: 1rem 0;
            display: block;
            font-weight: 400;
        }
    }
}