.header-video {
    height: 700px;
    overflow: hidden;
    position: relative;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        // background-color: #00000099;
        @include absolute(0, 0, 0, 0);
        @include center();
    }

    .mid-term {
        @include size(36);
        color: $active-color;
    }

    h1 {
        @include size(64);
        font-weight: 700;
    }

    span {
        @include size(36);
    }

    .header-title {
        transition: 2s ease;
        opacity: 1;
    }

    #mic-btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
        border: solid 2px #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: #fff;
        background-color: transparent;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mic-btn::before {
        content: "";
        width: 2px;
        height: 40px;
        display: block;
        position: absolute;
        background-color: white;
        transform: rotate(45deg);
        top: -2px;
        left: 17px;
    }

    #mic-btn.active::before {
        content: none;
    }

    @include max(480) {
        height: auto;
        width: 100%;
    }
}