.header-section{
    min-height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;
    .overlay {
        @include absolute(0,0,0,0);
        @include center();
        flex-wrap: nowrap;
    }

    .img-country-header{
        width: 30px;
        height: 20px;
        position: initial;
    }
    img{
        @include absolute(0,0,0,0);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    cite{
        background: linear-gradient(90deg, #000000, #00000000);
        padding: 8px;
        display: inline-block;
    }
    figcaption{
        @include absolute(unset,0,0,0);
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        @include size(16);
    }
    figcaption p{
        background: #000000bf;
        margin: 0;
        padding: 8px;
        @include size(16);
        width: 100%;
        text-align: left;
    }
    label {
        letter-spacing: .1em;
    }
    .change-country {
        text-decoration: underline;
    }
    .country{
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 10px;
        font-weight: 700;
        @include size(54);
        .flag{
            display: flex;
            width: 50px;
            height: 40px;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .title-section{
        padding-left: 30px;
        padding-right: 30px;
        margin: 0;
        @include size(40);
        line-height: $lh20;
        @include max(600){
            font-size: 22px;
        }
    }
    .output-code{
        color: $who;
        font-weight: 700;
        @include size(22);
    }
    .outcome-code {
        color: $who;
        font-weight: 700;
        @include size(22);
    }
    .report-version {
        background: repeating-linear-gradient(45deg, #008dc9, #41c6ff 100%);
        color: white;
        font-size: 13px;
        font-weight: 600;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: .7rem 1.1rem;
        text-align: center;
        line-height: 160%;
        letter-spacing: .1em;
        border-radius:  0 8px 0 0;
    }
}


header.header-section.country-story .country {
    font-size: 2rem;
    .flag {
        width: 40px;
        height: 30px;
    }
}