.menu {
    display: flex;
    position: relative;
    background: #031C4C;
    justify-content: flex-end;
    z-index: 2;
    .items {
        background: #031C4C;
        flex-grow: 1;
        justify-content: center;
        margin-top: 0;
        transition: .3s;
        transform: translateX(0%);
        .close-menu {
            display: none;
            @include max(800) {
                display: flex;
            }
        }
        @include max(800) {
            flex-direction: column;
            position: fixed;
            justify-content: flex-start;
            padding-top: 50px;
            gap: 0;
            top: 0;
            right: 0;
            transform: translateX(100%);
            height: 100vh;
            width: 400px;
            z-index: 1000;
            .close-menu {
                display: flex;
                position: absolute;
                right: 0;
                top: 0;
                color: white;
                cursor: pointer;
            }
        }
    }
    li {
        margin: 0;
    }
    .item_link {
        cursor: pointer;
        @include size(18);
        text-transform: uppercase;
        font-weight: 700;
        white-space: nowrap;
        color: $white;
        display: flex;
        padding: 16px 18px;
        cursor: pointer;
        i,
        em {
            transition: .5s;
            cursor: pointer;
        }
        &.active i,
        &.active em {
            transform: rotate(180deg);
        }
        &:active,
        &:hover,
        &.active {
            background-color: #0078d4 !important;
            color: white !important;
        }
    }
    .button-menu {
        display: none;
        cursor: pointer;
        .fa {
            padding: 16px 18px;
            @include size(18);
        }
        @include max(800) {
            display: flex;
        }
    }
    .mega-menu {
        position: absolute;
        left: 0;
        right: 0;
        background-color: #0078d4;
        display: none;
        overflow: auto;
        @include max(800) {
            position: relative;
        }
        .dropdown-items {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(min(316px, 100%), 1fr));
            &::before,
            &::after {
                content: unset
            }
            a {
                color: white;
                padding: 0.5rem 1rem;
                display: flex;
                cursor: pointer;
                &:hover {
                    background: #1189e5 !important;
                }
            }
        }
    }
}


// Sticky
.row.sticky {
    position: sticky;
    z-index: 2;
    top: 0;
    @include max(800) {
        position: initial;
    }
}


// Outcomes
#menu-working-togheter {
    @include max(800) {
        &.active {
            flex: 1 0 150px;
            overflow: auto;
        }
    }
    .dropdown-items a {
        flex-direction: column;
        border-bottom: 1px solid #ffffff42;
        padding: .8rem;
    }
}

// Countries
#menu-countries {
    @include max(800) {
        &.active {
            flex: 1 0 150px;
            overflow: auto;
        }
    }
    .filters-countries {
        padding: .5rem 1rem;
    }
    .dropdown-items.countries-empty {
        display: flex;
        justify-content: center;
        li {
            text-align: center;
            padding: 1rem 1rem calc(1rem + 10px) 1rem;
            color: #a5d8ff;
            font-size: 1.2rem;
        }
    }
    .dropdown-items {
        grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
        a {
            gap: .5rem;
            .flag {
                width: 30px;
                height: 20px;
                background-size: cover;
                background-position-x: center;
                flex-shrink: 0;
            }
            .country-name {
                font-weight: 600;
                line-height: 1;
                font-size: 14px;
            }
            .region-name {
                font-weight: 300;
                letter-spacing: .1em;
                font-size: .85rem;
                font-size: 13px;
                line-height: 1;
            }
        }
    }
}