.narratives{
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    ul{
        @include size(20);
    }
    h1,h2,h3,h4,h5,h6{
        line-height: 120%;
        font-weight: bold;
    }
    .narrative{
        border-top: 1px solid #ccc;
    }
    p, li {
        margin-bottom: .8em;   
    }
    
    .narrative > :not(.editorial-box) {
        max-width: 1140px;
        margin-left: auto !important;
        margin-right: auto !important;
        @media (max-width: 1200px) { 
            max-width: 900px;
        }
        @media (max-width: 992px) { 
            max-width: 600px;
        }
        @media (max-width: 700px) { 
            max-width: 400px;
        }
        @media (max-width: 400px) { 
            padding: 0 20px;
        }
    }
}



.editorial-box {
    @include max(800){
        background-size: 100px;
    }
    background-repeat: no-repeat;
    background-size: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    background-color: #D5DFEC;
    figure{
        margin: 0 !important;
    }
    figure img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
    }
    &.box-top {
        background-position: bottom right;
        flex-direction: column;
        figure{
            margin: 0;
            color: white;
            position: relative;
            height: 400px;
        }
    }

    &.box-left {
        background-position: bottom right;
        flex-direction: row;
        figure{
            margin: 0;
            color: white;
            position: relative;
            min-width: 400px;
            max-width: 400px;
        }
        @include max(800){
            flex-direction: column;
            figure{
                height: 400px;
                max-width: unset;
                max-height: unset;
            }
        }
    }
    &.box-right {
        background-position: bottom left;
        flex-direction: row-reverse;
        figure{
            margin: 0;
            color: white;
            position: relative;
            min-width: 400px;
            max-width: 400px;
        }
        @include max(800){
            flex-direction: column;
            figure{
                height: 400px;
                max-width: unset;
                max-height: unset;
            }
        }
    }
    &-content {
        padding: 90px;
        @include max(800){
            padding: 40px;
        }
    }
    figure cite{
        background: linear-gradient(90deg, #000000, #00000000);
        padding: 8px;
        display: inline-block;
        @include size(16);
    }
    figcaption{
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white !important;
    }
    figure p{
        background: #000000bf;
        margin: 0;
        padding: 8px;
        @include size(16);
    }
}

@include max(800){
    figure{
        
    }
}