.narratives{
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-bottom: 10px;
    .narrative{
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
}