.more-outcomes-slick.slick-slider {
    display: flex !important;
    .slick-track{
        display: flex;
    }
    .slick-list.draggable{
        display: flex;
    }
    .rr-card{
        box-sizing: border-box !important;
        box-shadow: none;
        border: 1px solid #ccc;
        display: flex;
        margin: 0 10px;
        align-self: stretch;
    }
    
}

.nextArrow, .prevArrow {
    font-size: 40px;
    cursor: pointer;
    transition: .5s;
    &:hover{
        transform: translate(1.1);
    }
}


.country-stories-outcome.slick-slider {
    display: flex !important;
    .slick-track{
        display: flex;
    }
    .slick-list.draggable{
        display: flex;
    }
    .rr-card{
        box-shadow: none;
        box-sizing: border-box !important;
        border: 1px solid #ccc;
        display: flex;
        margin: 0 10px;
        align-self: stretch;
    }
}
