.container-tab{
    border-top: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    .select-segment {
        font-size: 14px;
        color: #0fa0de;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.container-tab.second-tab .tab .line {
    top: 0;
    
}
.container-tab.second-tab .tab .menu-item {
    align-items: flex-end;
}

.tab{
    display: flex !important;
    position: relative;
    height: 50px;
    padding: 0 !important;
    margin: 0;
    list-style: none;
    width: unset !important;
    height: 100%;
    flex-wrap: wrap;
    @include max(800){
        justify-content: center;
    }
    .menu-item {
        padding: 10px;
        display: flex;
        cursor: pointer;
        @include size(16);
        &:hover{
            color: $who;
        }
    }
    .selected{
        color: $who;
    }
    .line {
        display: flex;
        width: 10px;
        position: absolute;
        height: 10px;
        bottom: 0;
        transition: .5s;
        background: $who;
        @include max(800){
            display: none;
        }
    }
}

.tab-label{
    color: $who;
    font-weight: bold;
    @include size(20);
    text-align: center;
}