.container-tab{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    .select-segment {
        font-size: 14px;
        color: #0fa0de;
        text-transform: uppercase;
        font-weight: 600;
    }
    &.bottom {
        .menu-item,.tab-item {
            margin-top: .5rem;
        }
        .line {
            top: 0;
        }
    }
    &.top {
        .menu-item,.tab-item {
            margin-bottom: .5rem;
        }
        .line {
            bottom: 0;
        }
    } 
}


.tab{
    display: flex !important;
    position: relative;
    height: 50px;
    padding: 0 !important;
    margin: 0;
    list-style: none;
    width: unset !important;
    height: 100%;
    flex-wrap: wrap;
    @include max(800){
        justify-content: center;
    }
    .menu-item,.tab-item {
        padding: 10px;
        display: flex;
        cursor: pointer;
        @include size(16);
        &:hover{
            color: $who;
        }
    }
    .selected{
        color: $who;
    }
    .line {
        display: flex;
        width: 10px;
        position: absolute;
        height: 10px;
        transition: .5s;
        background: $who;
        @include max(800){
            display: none;
        }
    }
}

.tab-label{
    color: $who;
    font-weight: bold;
    @include size(20);
    text-align: center;
}